/* ********************************** */
/* *********** Colors Used*********** */
/* ********************************** */
/* buttons rgb(104, 117, 217) */

#root {
  width: 100%;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65.5%;
}
.text-icon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}
.text-icon ion-icon {
  font-size: 1rem;
}
select:focus {
  outline: none;
}
/* ********************************** */
/* ******** Main Navigation ********* */
/* ********************************** */
.main-nav {
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 30px #e0e0e0f4;
  background-color: #107dac;
  color: #fff;
}
.app-container {
  width: 100%;
  min-height: 100vh;
}
.app-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 4rem;
}
.app-logo img {
  height: 100%;
}
.app-logo p {
  margin: auto 0;
  font-size: 1.6rem;
  align-self: center;
}
.auth {
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  min-width: 10rem;
}

.btn-signup,
.btn-login {
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
  font-weight: 300;
  min-width: 5rem;
}
.btn-signup:hover,
.btn-login:hover,
.btn-signup:active,
.btn-login:active {
  font-weight: 500;
}

/* ********************************** */
/* ************** Body ************** */
/* ********************************** */
.body {
  display: grid;
  grid-template-columns: 1.2fr 3fr 0.8fr;
  justify-content: space-between;
}

/* ********************************** */
/* ********* query container ******** */
/* ********************************** */
.query-container {
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.query-step {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

/* SELECT Block */

/* WHERE Block */
.where ion-icon {
  font-size: 1.4rem;
}
.where-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.where-row {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 2fr 0.5fr;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  gap: 0.5rem;
}
.where-object-drop-down {
  width: 100%;
  padding: 0.2rem;
  height: 3rem;
  border-radius: 5px;
  border: 0.5px solid #333;
  cursor: pointer;
  text-align: center;
}
.where-condition-drop-down {
  width: 100%;
  padding: 0.2rem;
  height: 3rem;
  border-radius: 5px;
  border: 0.5px solid #333;
  cursor: pointer;
  text-align: center;
}
.where-compared-value-drop-down {
  width: 100%;
  padding: 0.2rem;
  height: 3rem;
  border-radius: 5px;
  border: 0.5px solid #333;
}
.where-row button {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: 0.5px solid #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.where-row button ion-icon {
  width: 100%;
  font-size: 1.4rem;
}

.where-row input:focus {
  border: 2px solid rgba(51, 51, 51, 0.585);
  outline: none;
}
/* GROUP BY Block */
.group-by-block {
  margin-top: 1rem;
}
.group-by ion-icon {
  font-size: 1.4rem;
}
.group-by-row {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  gap: 0.5rem;
  padding: 0 2rem;
}
.group-by-drop-down {
  width: 100%;
  padding: 0.2rem;
  height: 3rem;
  border-radius: 5px;
  border: 0.5px solid #333;
}
.group-by-row button {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: 0.5px solid #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.group-by-row button ion-icon {
  width: 100%;
  font-size: 1.4rem;
}
/* Button Submit */
.btn-convert-to-query-submit {
  margin-top: 2rem;
  font-size: 1.2rem;
  align-self: center;
  background-color: #1ebbd7;
  color: #000;
  padding: 0.6rem 1.2rem;
  border-radius: 7px;
  transition: all 0.3s;
  border: none;
}
.btn-convert-to-query-submit:hover,
.btn-convert-to-query-submit:active {
  background-color: #005073;
}
.btn-convert-to-query-submit:active {
  transform: scale(0.96);
}
/* ********************************** */
/* ******** content container ******* */
/* ********************************** */
.content-container {
  width: 100%;
  position: relative;
}
.options-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  gap: 2rem;
  padding: 1rem;
  font-weight: 500;
  /* border-bottom: 1px solid #e0e0e0; */
}
.options-bar ion-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.dropdown-table-menu {
  text-decoration: none;
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  transform: translateZ(1);
  background-color: #e0e0e0;
  width: 12rem;
  border-radius: 7px;
  padding: 1rem 2rem;
}
.dropdown-table-menu li {
  cursor: pointer;
  transition: all 0.3s;
}
.dropdown-table-menu li:hover {
  font-weight: 600;
}
.options-bar input {
  width: 28rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 11px;
  border: 1px solid #333;
}
.icon-search {
  cursor: pointer;
}
.writen-query {
  margin: 3rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.writen-query label {
  font-size: 1.4rem;
}
.writen-query textarea {
  width: 55rem;
  height: 8rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  outline: none;
  border-radius: 7px;
  border: 1px solid #333;
  color: green;
}
.writen-query input:focus {
  border: 2px solid rgba(51, 51, 51, 0.585);
}
.writen-query button {
  height: 4rem;
  font-size: 1.4rem;
  padding: 0 1rem;
  border-radius: 7px;
  border: 1px solid #1ebbd7;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #1ebbd7;
}
.writen-query button:active {
  transform: scale(0.96);
}
.writen-query button:hover,
.writen-query button:active {
  background-color: #e0e0e0;
}

/* ********************************** */
/* ******* results container ******** */
/* ********************************** */
.results {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
table {
  border-collapse: collapse;
  width: 90%;
  color: #333;
}
.results th,
.results td {
  border: 1px solid #e0e0e0;
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
}
.results th {
}
.results th {
  font-size: 1rem;
  background-color: #107dac6d;
}
.row-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.row-menu ion-icon {
  font-size: 1rem;
  color: #999;
}
/* ********************************** */
/* ******** graphs container ******** */
/* ********************************** */
.graphs-container {
  border-left: 1px solid #e0e0e0;
  min-height: 100vh;
  padding: 0 1rem;
}
.graphs-header-bar {
  height: 4rem;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-between;
}
.graphs-header-bar ion-icon {
  font-size: 2rem;
}
